*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container{
max-width: 1220px;
margin: 0 auto;
}
header{
padding: 40px 0;
border: 1px solid #BCAAAA;
box-shadow: 0px 4px 8.7px 0px #00000040;
}
header .container{
    display: flex;
align-items: center;
justify-content: space-between;
}
nav ul{
display: flex;
align-items: center;
list-style: none;
gap: 50px;
}
nav ul li a{
text-decoration: none;
color: grey;
font-size: 24px;
}
nav ul li a:hover{
    color: red;
   border-bottom: 2px solid red;
padding-bottom: 20px;
}
.btn{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    color: #EF400F;
    background-color: white;
    padding: 16px 20px;
border: 3px solid #EF400F;
border-radius: 20px;
}
main{
    background: #F5F5F5;
}
.hero{
    padding: 60px 0;
}
.hero-top div{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-top{
    display: flex;
align-items: center;
justify-content: space-between;
}
h1{
font-size: 40px;
font-weight: 600;
line-height: 48.41px;
color: #0D0C5C;
}
h2{
    color: #EF400F;
}
input{
    width: 286px;
height: 43px;
background-color: black;
color: white;
padding: 15px;
border-radius: 15px;
}
.btn2{
padding: 15px 32px;
color: white;
background: #0D0D5B;
border-radius: 15px;
}
.card{
    width: 290px;
height: 290px;
border-color: white;
box-shadow: 0px 4px 13.3px 0px #00000040;
padding: 44px 52px;
text-align: center;
border-radius: 30px;
}
.card div{
    display: flex;
    gap: 10px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.ota{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px auto;
}
a{
    color: black;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}


































































